* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-30deg,red 0%,crimson 50%,#262626 50%,firebrick 100%);
}
.box {
  position: relative;
  padding: 50px;
  width: 360px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
.box::after {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border-radius: 3px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%,
  transparent 50%,transparent 80%,rgba(255,255,255,0.1)100%)
}

.box .form {
  position: relative;
  width: 100%;
}

.box .form h1 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-size: 35px;
}
.box .form .Inputs {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.box .form .Inputs input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(255,255,255,0.2);
  background: transparent;
  padding: 8px 10px;
  padding-left: 35px;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  opacity: 0.9;
  letter-spacing: 1px;
  font-weight: 200;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.box .form .Inputs input[type="submit"] {
  margin-top: 10px;
  background: #fff;
  color: black;
  max-width: 100px;
  padding: 8px 10px;
  transition: 0.4s;
  cursor: pointer;
}
.box .form .Inputs input[type="submit"]:hover {
  background: none;
  color: white;
  transform: scale(1.1);
}
.box .form .Inputs input::placeholder {
  color: #fff;
  font-size: 13px;
  opacity: 0.5;
}
.box .form .Inputs .user {
  position: absolute;
  top: -496px;
  left: -335px;
  transform: scale(0.02);
  filter: invert(1);
}
.box .form .Inputs .pass {
  position: absolute;
  top: -223px;
  left: -302px;
  transform: scale(0.04);
  filter: invert(1);
}
.box .form .Remember {
  color: #fff;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
a {
  color: #fff;
  transition: 0.5s;
}
a:hover {
  letter-spacing: 1px;
}