* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  z-index: 2;
}
header ul {
  display: flex;
  top: 0;
  margin: 0;
  background: rgba(10,10,10,0.5);
}
header ul li {
  text-decoration: none;
  padding: 25px 50px;
  list-style-type: none;
  font-size: 20px;
  font-style: oblique;
  transition: 0.4s;
}
header ul a {
  text-decoration: none;
  color: white;
}
header ul li:hover {
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
  background-color: rgba(10,10,110,0.7);
}
.logobg {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.logobg .logo {
  width: 80%;
}
.logobg .logo img {
  margin-left: 2rem;
  width: 50%;
}
.container {
  position: relative;
  height: 110vh;
  margin: 0rem auto 0rem;
  width: 98%;
  font-size: 14px;
  background: #000;
  border-radius: 1rem;
}

.swiper-container {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.swiper-slide img {
  opacity: 0.5;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.swiper-slide img:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.content {
  background: rgb(100, 149, 237,0.6);
  margin: 5rem auto 0rem;
  width: 90%;
  border: 3px solid black;
  border-radius: 1rem;
}
.content h1 {
  text-align: center;
  margin-top: 1rem;
  color: aliceblue;
  font-size: xx-large;
  letter-spacing: 1px;
  text-shadow: 5px 5px black;
  text-decoration: overline;
}
.content .content_container {
  margin: 0.4rem auto 0.4rem;
  width: 99%;
  border-radius: 1rem;
  padding: 25px;
}
.content .content_container p {
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.img {
  visibility: hidden;
  width: 100px;
  animation: ani-down 1s ease infinite 1s;
}

.img img {
  filter: invert(100%);
  width: 100%;
  opacity: 0.7;
}

@keyframes ani-down {
  from {
    transform: translateY(0%);
    opacity: 0;
  }

  to {
    visibility: visible;
    transform: translateY(25%);
    opacity: 1;
  }
}
footer {
  position: relative;
  width: 100%;
  height: 15vh;
  background: #000;
  margin-top: 2rem;
  border-top: 1px dotted white;
}
footer .copy {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 576px) {
  .container {
    margin-top: 2rem;
    height: 40vh;
  }
  .content .content_container p {
    font-size: 14px;
  }
  .logobg .logo{
    display: none;
  }
  .logobg .img {
    width: 10%;
    margin-left: 5%;
    margin-top: 5rem;
  }
  header {
    width: 100%;
  }
  header ul {
    background: rgba(10,10,10,0.2);
    float: right;
    flex-direction: column;
  }
  header ul li {
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
  }
}