/* Navbar */

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.sticky ul {
  list-style-type: none;
  background: black;
  display: flex;
  width: 100%;
}
.sticky li a {
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 25px 30px;
  letter-spacing: 1px;
  font-weight: 900;
  color: lightgrey;
  transition: 0.2s;
}
.drop:hover .btn {
  background-color: indianred;
  color: #000;
  text-decoration: underline;
}
.sticky .drop-con {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  min-width: 156.5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.sticky .drop-con a {
  color: black;
  text-align: left;
  text-decoration: none;
  padding: 11px;
  display: block;
}
.sticky .drop-con a:hover {
  background-color: lightcoral;
  transform: scale(1.2);
  color: white;
}
.sticky .drop:hover .drop-con {
  display: block;
}
a.log:hover {
  transform: scale(1.5);
  transition: 0.2s;
  color: crimson;
  text-decoration: underline;
}
.sticky .drop-con a.gold:hover {
  color: black;
  background-color: goldenrod;
}
.sticky li a.login {
  transform: translateX(560%);
}
.sticky li a.login:hover {
  letter-spacing: 1px;
  font-weight: bold;
  transform: scale(1.2) translateX(460%);
  color: Black;
  background-color: coral;
}
.burger {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 101;
}
.mob {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  z-index: 101;
  background-color: rgba(255, 255, 255, 0.6);
}
.mob div {
  background-color: crimson;
  width: 25px;
  height: 3px;
  margin: 5px;
}
#hdn {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
}
#hdn button {
  position: absolute;
  top: 20px;
  padding: 10px 10px;
  background: none;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  outline: none;
  color: white;
  background: black;
}
#hdn .mob_con ul {
  float: right;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  background: black;
  opacity: 1;
  border-radius: 1rem;
}
#hdn .mob_con ul li {
  text-align: center;
  margin-top: 25px;
  padding: 15px;
  list-style-type: none;
}
#hdn .mob_con ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}
.mob_con li a:hover {
  transform: scale(1.5);
}
.mob_con li a:active {
  transform: scale(0.8);
}
.show {
  display: block;
}
@media screen and (max-width: 576px) {
  .sticky {
    display: none;
  }
  .mob {
    display: block;
  }
}

/* bg image */

.front_pet {
  background-image: url(Gaming1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.front_pet_overlay {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.front_pet_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.front_pet_1 h1 {
  color: white;
  font-size: 2.6rem;
  text-align: center;
}

/* search bar */

.form_search {
  text-align: center;
}
.search {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  padding: 0.7rem;
  outline: none;
  border: 2px solid black;
  transition: 0.2s;
}
.search:hover {
  transform: scale(1.05);
  border-color: red;
}
.search:focus {
  border-color: red;
  box-shadow: inset 0px 8px 8px 0px rgba(220,0,0,0.4);
}
.form_search input[type="text"] {
  text-align: center;
}

/* Find Pet Button*/

.form_search button {
  outline: none;
  color: black;
  background-color: #fff;
  width: 25%;
  margin: 1rem auto 0rem;
  padding: 0.6rem;
  border-radius: 1rem;
  border: none;
  transition: 0.35s;
}

.form_search button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: black;
  color: white;
}

.form_search button span {
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.form_search button span:after {
  content: '\00bb';
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.form_search button:hover span {
  padding-right: 25px;
}

.form_search button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 576px) {
  .front_pet_1 h1 {
    font-size: 1.5rem;
  }
  .form_search button {
    padding: 0.4rem;
    width: initial;
    font-size: 10px;
  }
  .search {
    padding: 0.4rem;
    width: 80%;
  }
  .search:focus {
    border-color: green;
  }
}
