#Home {
  margin-top: 67px;
  width: 100%;
}
#Home ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#Home ul li {
  list-style-type: none;
}
#Home ul li a {
  outline: none;
  color: white;
  position: relative;
  display: block;
  margin: 0px 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}
#Home li a:hover {
  color: red;
  transition: 0.4s;
}
#Home ul li a span {
  position: absolute;
  transition: transform 0.5s;
}

/*X-axis*/

#Home ul li a span:nth-child(1),
#Home ul li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: white;
}
#Home ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
#Home ul li a:hover span:nth-child(1) {
  background: indianred;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
#Home ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
#Home ul li a:hover span:nth-child(3) {
  background: indianred;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

/*Y-axis*/
#Home ul li a span:nth-child(2),
#Home ul li a span:nth-child(4) {
  width: 1px;
  height: 100%;
  background: white;
}
#Home ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}
#Home ul li a:hover span:nth-child(2) {
  background: indianred;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}
#Home ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}
#Home ul li a:hover span:nth-child(4) {
  background: indianred;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
@media screen and (max-width: 576px) {
  #Home ul {
    display: none;
  }
}
