/* Section para */
.para {
  padding: 0px 90px;
  text-align: center;
  margin-bottom: 2rem;
}
.para p{
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
}

 /* Video */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.backG {
  width: 90%;
  background-color: rgba(255, 255, 1, 0.1);
  padding: 2px;
  margin: 2rem auto 0rem;
  border-radius: 0.5rem;
}
.transparent {
  border-radius: 1rem;
  margin: 0.5rem auto 0.5rem;
  padding: 2px;
  width: 99%;
  height: 99vh;
  background: transparent;
  box-shadow: inset 0px 8px 16px 0px rgba(1, 1, 1, 0.5);
}
.media {
  transform: translateY(-3%);
  border-radius: 5rem;
  margin: 2rem auto 0rem;
  position: relative;
  width: 98%;
  height: 96%;
}
.media video {
  outline: none;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media .choice {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-content: center;
}
.media .choice li {
  list-style-type: none;
  cursor: pointer;
  margin-left: 2rem;
  border-radius: 4px;
  background: grey;
  padding: 4px 4px ;
  opacity: 0.3;
  transition: 0.5s;
}
.media .choice li img {
  width: 120px;
  height: 97%;
  transition: 0.5s;
}
.media .choice li:hover {
  opacity: 1;
  transform: scale(1.3) translateY(-30%);
}
.media .choice li:active {
  transform: scale(1.1);
}
@media screen and (max-width: 576px) {
  .media .choice li {
    margin: 1px;
  }
  .media .choice li img {
    width: 50px;
  }
}