body {
  background-color: rgb(0, 255, 255);
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
  #name {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 0%;
    height: 0px;
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #xname {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 0%;
    height: 0px;
    display: none;
  }
}