#sver {
  cursor: pointer;
}
.modal {
  position: fixed;
  z-index: 1; 
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(192, 192, 192, 0.5);
  display: none;
  transition: display 0, opacity 1.5s;
}
.modal .prime {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1rem;
  background-color: silver;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 40%;
}
.modal .silver {
  position: absolute;
  top: 10%;
  left: 8%;
  text-align: center;
}
.modal .silver h1 {
  font-size: 30px;
  color: black;
  text-shadow: 1px 2px white;
}
.modal .flx {
  display: flex;
  justify-content: space-around;
}
.P1M,
.P3M {
  font-size: 20px;
  margin-top: 2rem;
}
.modal .silver button {
  outline: none;
  margin-top: 0.5rem;
  cursor: pointer;
  padding: 15px 25px;
  background-color: black;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  transform: rotate(-2deg);
  transition: 0.2s;
  border: none;
}
.modal .silver button:hover {
  border: 3px solid whitesmoke;
  transform: scale(1.1);
  letter-spacing: 4px;
  box-shadow: inset 0px 5px 35px 0px rgba(192,192,192,0.3);
}
.modal .silver button:active {
  transform: scale(1);
}

/* GOLD MODAL */

#gld {
  cursor: pointer;
}
.modal_2 {
  position: fixed;
  z-index: 1; 
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(215,215,0,0.4);
  display: none;
}
.modal_2 .prime_2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1rem;
  background-color: gold;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 40%;
}
.modal_2 .gold {
  position: absolute;
  top: 10%;
  left: 8%;
  text-align: center;
}
.modal_2 .gold h1 {
  font-size: 30px;
  color: rgb(255, 183, 0);
  text-shadow: 1px 1px black;
}
.modal_2 .flx {
  display: flex;
  justify-content: space-around;
}
.modal_2 .gold button {
  outline: none;
  margin-top: 0.5rem;
  cursor: pointer;
  padding: 15px 25px;
  background-color: black;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  transform: rotate(-2deg);
  transition: 0.2s;
  border: none;
}
.modal_2 .gold button:hover {
  border: 3px solid darkgoldenrod;
  transform: scale(1.1);
  letter-spacing: 4px;
  box-shadow: inset 0px 5px 35px 0px rgba(215,215,0,0.5);
}
.modal_2 .gold button:active {
  transform: scale(1);
}